_*/
!Doc/*
*.rst
*.bat
conf.py
Makefile
EVENT_FILES/ 
EVENT_FILE_ANALYSIS_PLOTS/
*.mp4
*.pdf
!Doc/_build/latex/*.pdf
*.pickle
*.jp*
!Doc/processmcrat_logo.*
PERSONAL_ANALYSIS/
ProcessMCRaT.egg-info/
build/
dist/
processmcrat/.idea/*
